<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{=<% %>=}}</title>
</head>

<body>
  <h4></h4>
  <script src="../../build/mustache.js"></script>
  <script type="template">Hi! {{you}}, I'm
    {{=<% %>=}}
<% me %></script>
  <script>
    /**
     * {{=<% %>=}} 用于转换标签样式
     * 
     * 当该语法独占一行且当前行只有空白时，那么该行不渲染，以下是该情况的例子
     **/
    mustache = mustache.mustache

    const template = document.querySelector('script[type]').textContent
    const view = {
      you: 'Twinkle',
      me: 'Tom'
    }
    const res = mustache.render(template, view)

    document.getElementsByTagName('h4')[0].textContent = res

    console.log(res)
  </script>
</body>

</html>